fieldset {
  border: 0px;
}

header {
  display: none;
}

#start-page-div {
  text-align: center;
}

#login {
  font-style: italic;
  font-size: 15px
}

#main-div {
  text-align: center;
}

.sign-up-input {
  display: block;
  margin-bottom: 10px;
}

.landing-page-submit {
  display: block;
  margin: auto;
  margin-top: 10px;
}

#fixed-header {
  position: fixed;
  border-color: black;
  border-width: 1px;
  height: 50px;
}

#nav-bar {
  overflow: hidden;
  background-color: grey;
  position: fixed;
  top: 0;
  width: 100%;
}

#start-page-div{
  margin-top: 50px;
}
