

body {
  box-sizing: border-box;
  font-family: "Arvo", serif;
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  margin-top: 100px;

  background-image: -ms-linear-gradient(top, #DCD0C0 0%, #F4F4F4 50%, #C0B283 100%);

  background-image: -moz-linear-gradient(top, #DCD0C0 0%, #F4F4F4 50%, #C0B283 100%);

  background-image: -o-linear-gradient(top, #DCD0C0 0%, #F4F4F4 50%, #C0B283 100%);

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DCD0C0), color-stop(50, #F4F4F4), color-stop(100, #C0B283));

  background-image: -webkit-linear-gradient(top, #DCD0C0 0%, #F4F4F4 50%, #C0B283 100%);

  background-image: linear-gradient(to bottom, #DCD0C0 0%, #F4F4F4 50%, #C0B283 100%);




}

fieldset {
  border: 0px;
  margin-bottom: 100px;
}

button,
#submit-login2,
#submit-new-user {
  background-color: #C0B283;
  border-radius: 3px;
  height: 30px;
  width: 100%;
  box-shadow: 5px 5px 2.5px grey;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
}

#submit-new-user:hover {
  cursor: pointer;
}

.landing-page-buttons {
  height: 40px;
}

#sign-up-button {
  margin-top: 40px;
}

.landing-page-buttons :hover {
    cursor: pointer;
}
header {
  display: none;
}

#landingglogo {
  font-size: 2.7em;
}
#start-page-div {
  text-align: center;
}

#login {
  font-style: italic;
  font-size: 15px;
}

#submit-login2:hover {
  cursor: pointer;
}

.italic {
  font-style: italic;
}

.sign-up-input {
  display: block;
  margin: auto;
  width: 100%;
  margin-bottom: 20px;
}

.page {
  margin-top: 10px;
  background-color: white;
  width: 73%;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 50px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.logo {
  font-family: "Arvo", serif;
  font-size: 1.8em;
  letter-spacing: -4px;
}

#tag-line {
  display: none;
}

.landing-page,
.signup-login-page,
.menu-elements,
.menu-elements2 {
  text-align: center;
}

.card {
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.card-image {
  width: 100%;
}

.card-image-active {
  height: auto;
  width: 100%;
  margin-bottom: 5px;
}

.avatar {
  border: 1px solid #e5e5e5;
}

.card-content {
  padding: 20px;
  background-color: #f4f4f4;
}

.card-content h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.card-content p {
  margin: 0.5em 0;
}

.create-person-form {
  text-align: center;
}

.add-person-form {
  display: inline-block;
  width: 300px;
  margin: auto;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 2px;
}

#create-fam-legend {
  display: none;
}

.person-input {
  background-color: #f4f4f4;
  border: none;
  margin-bottom: 13px;
  width: 250px;
  text-align: left;
  color: grey;
  font-size: 15px;
}

#family-members-page {
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  width: 100%;
  height: 100%;
}

.icon {
  height: 50px;
}

.all-steps {
  margin: auto;
}

.steps {
  width: 60%;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.info-bloc {
  text-align: center;
}

.person-info-div {
  text-align: center;
  padding: 0 30px;
  padding-top: 10px;
}

.fam-member-info{
  width: 97%;
  margin: auto;
  text-align: left;
  border: 1px solid #e5e5e5;
  background-color: #f4f4f4;
  padding: 15px;
}

.person-photo {
  padding-right: 20px;
  padding-left: 20px;
}

.card-image-active {
  width: 97%;
}

.edit, .delete {
  width: 25px;
  float: right;
  margin: 5px;
  margin-top: 10px;
}

.delete {
  margin-right: 15px;
}

h4 {
  font-size: 27px;
  font-weight: bold;
  margin: 0px;
}

p.content-field {
  margin: 5px;
}

.bold {
  font-weight: bold;
  font-size: 18px;
}

.text-info {
  margin-left: 12px;
}

.smaller {
  font-size: 15px;
}

.upper-case::first-letter {
  text-transform: uppercase;
}

hr {
  color: #f4f4f4;
}

.hr1 {
  display: none;
}

.hr2 {
  display: none;
}

.hr4 {
  display: none;
}

.hr3 {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 50%;
}

.back {
  height: 20px;
  float: left;
}

#flex-container2 {
  display: none;
}

.error-div {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  font-size: 15px;
}

#no-family-members {
  padding-top: 75px;
  margin: auto;
  width: 70%;
  text-align: center;
}

#no-fam {
  border: 1px solid #e5e5e5;
  background-color: #f4f4f4;
  padding: 20px;
  padding-top: 0px;
  border-radius: 3px;
  font-size: 20px;
}

#add-family-member-button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60%;
  height: 60px;
  padding: 5px;
  border-radius: 3px;
  font-size: 1em;
}

#heytherefriend {
  font-size: 1.7em;
  font-color: blue;
  margin-bottom: 0px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #DCD0C0;
  font-size: 1em;
  margin-top: 150px;
  border-top: 1px solid grey;
}

.footer-text {
  margin-left: 10px;
  padding-bottom: 5px;
}

fieldset {
  border: 0px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 400px) {
  #landingglogo {
    font-size: 1.8em;
    font-weight: bold;
  }
  .landing-page-buttons {
    margin-bottom: 10px;
    width: 75%;
  }
  .page {
    padding: 20px 15px 50px 15px;
  }
  .steps {
    width: 80%;
  }
  footer {
    height: 30px;
    width: 100%;
    font-size: .8em;
    font-weight: bold;
    margin-top: 75px;
  }
  .page {

    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 550px) {
  .card-image {
    object-fit: cover;
    width: 100%;
    height: 275px;
  }
}

@media only screen and (min-width: 640px) {
  .text {
    font-size: .1em;
  }
}

@media only screen and (min-width: 700px) {
  .text {
    font-size: .3em;
  }

  #no-family-members {
    width: 30%;
  }
}

@media only screen and (min-width: 800px) {

    .card-image {
      object-fit: cover;
      width: 100%;
      height: 275px;
    }

    .page {
      width: 55%;
    }

    .person-photo {
      padding-right: 0px;
      display: inline-block;
      vertical-align: top;
    }

    .person-info-div {
      display: inline-block;
      position: relative;
    }

    .steps {
      border: none;
    }

    #flex-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%
      margin: 0 auto;
    }

    .flex-item {
      width: 100px;
    }

    #flex-container2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
    }

    .flex-item {
      width: 100px;
    }

    #tag-line {
      display: block;
      font-size: 1.4em;
      margin-bottom: 110px;
      margin-top: 95px;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }

    .screen-shot {
      width: 100%;
      height: 100%
      margin-top: 75px;
      border-radius: 3px;
    }

    .container {
      position: relative;
      width: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color:#f4f4f4;
      border-radius: 3px;
    }

    .flex-item2:hover .overlay {
      opacity: 1;
    }

    #logo {
      font-size: 2.7em;
    }

    .hr1 {
      display: block;
      color: #f4f4f4;
      width: 85%;
      margin-bottom: 40px;
    }

    .hr2 {
      display: block;
      width: 40%;
      margin-top: 20px;
      margin-bottom: 80px;
    }

    .hr3 {
      display: none;
    }

    .hr4 {
      display: block;
      width: 60%;
      margin-bottom: 50px;
      margin-top: 50px;
    }

    .landing-page-buttons {
      height: 55px;
      margin: 10px;
      margin-bottom: 30px;
      width: 100px;
      border-radius: 3px;
    }

    #no-family-members {
      width: 50%;
    }

    .text {
      color: black;
      font-size: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      font-size: .5em
    }
}

@media only screen and (min-width: 900px) {
  .text {
    font-size: .8em;
  }
}

@media only screen and (min-width: 1100px) {
  .text {
    font-size: 1em;
  }

  @media only screen and (min-width: 1200px) {
    .text {
      font-size: 1.2em;
    }
}
