fieldset {
  border: 0px;
}

header {
  display: none;
}

#start-page-div {
  text-align: center;
}

#login {
  font-style: italic;
  font-size: 15px
}

#main-div {
  text-align: center;
}

.sign-up-input {
  display: block;
  margin-bottom: 10px;
}

.landing-page-submit {
  display: block;
  margin: auto;
  margin-top: 10px;
}
